.div1, .div4{
    background-color: blue;
}
a{
    text-decoration: none;
    color: white;
}
.Usuario{
    float: left;
    width: 100px;
}
.Usuario_foot{
    float: left;
}
p{
    color: black;
    text-align: justify;
}
.Noticia1, .Noticia2{
    float: right;
    width: 150px;
    height: 150px;
}
header{
    font-size: 40px;
    font-family: Calibri;
}
.div2{
    background-color: black;
}
.td1{
    height: 50px;
    width: 200px;
    color: white;
    text-align: center;
}
li{
    color: black;
}
.Menu{
    float: right;
}